
<div class="page" data-page="main" data-handler="MainPage">

    <div class="page-head">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Главная</li>
        </ol>
        <%- include('./_user') %>
    </div>

    <h1>Продукты пекарни</h1>

    <div class="product-list loadable-container" data-handler="ProductList">

        <template data-id="list">
            <div class="row">{{items}}</div>
        </template>

        <template data-id="item">
            <div class="col-md-6 col-lg-4">
                <div class="product-card" data-id="{{_id}}">
                    <a href="#" data-action="product">
                        <img data-src="<%- _url('/api/base/file/thumbnail') %>?s=sm&c=picture&id={{picture}}"
                             class="img-thumbnail img-fluid" alt="">
                        <h3>{{_title}}</h3>
                        <h5>{{description}}</h5>
                    </a>
                </div>
            </div>
        </template>

        <%- include('./_pagination') %>

        <template data-id="error">
            <div class="alert-danger alert">{{text}}</div>
        </template>

        <div class="loadable-content"></div>
        <div class="loader"><i class="fa fa-spinner fa-spin"></i></div>
    </div>
</div>