<template id="orders">
    <div class="page">

        <breadcrumbs>
            <template #path>
                <li class="breadcrumb-item"><a @click.prevent="toProducts" href="#">Главная</a></li>
                <li class="breadcrumb-item">Заказы</li>
            </template>
        </breadcrumbs>

        <h1>Заказы пользователя</h1>

        <div class="loadable-container">

            <div class="order-items">
                <div v-for="item in items" class="order-item row-item">
                    <div class="order-item-num cell">
                        <label>Номер</label>
                        <div class="value">
                            <a @click.prevent="onOrder" :data-id="item.id" href="#">#{{item.id}}</a>
                        </div>
                    </div>
                    <div class="order-item-state cell">
                        <label>Состояние</label>
                        <div class="value">{{item.state}}</div>
                    </div>
                    <div class="order-item-price cell">
                        <label>Цена</label>
                        <div class="value">{{item.price}}</div>
                    </div>
                    <div class="order-item-date cell">
                        <label>Создано</label>
                        <div class="value">{{item.date}}</div>
                    </div>
                </div>
            </div>

            <pagination></pagination>

            <div v-show="!loading && empty" class="alert-warning alert">
                <span>Заказы не найдены</span>
            </div>

            <div v-show="loading" class="loader">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
        </div>
    </div>
</template>