
<div class="page" data-page="order" data-handler="OrderPage">

    <div class="order loadable-container" data-handler="Order">

        <template data-id="order">
            <div class="page-head">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#" data-action="main" data-t="">Main</a></li>
                    <li class="breadcrumb-item"><a href="#" data-action="orders" data-t="">Orders</a></li>
                    <li class="breadcrumb-item" data-t="">#{{_id}}</li>
                </ol>
                <%- include('./_user') %>
            </div>

            <h1>
                <span data-t="">Order</span>
                #{{_id}}
            </h1>

            <div class="{{_state}}" data-items="{{hasItems}}">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form mb-4">
                            <div class="form-group row">
                                <label class="col-4 col-form-label" data-t="">Состояние</label>
                                <div class="col-8">
                                    <div class="form-control-plaintext">{{state}}</div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-4 col-form-label" data-t="">Цена</label>
                                <div class="col-8">
                                    <div class="form-control-plaintext"><b>{{price}}</b></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-4 col-form-label" data-t="">Создано</label>
                                <div class="col-8">
                                    <div class="form-control-plaintext">{{created}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="item-list">
                            {{items}}
                        </div>
                    </div>
                </div>
                <div class="text-center mt-5">
                    <button class="btn-primary btn" type="button" data-action="addMore">
                        <span>Добавить ещё</span>
                    </button>
                    <button class="btn-success btn" type="button" data-action="confirmOrder">
                        <span>Подтвердить заказ</span>
                    </button>
                    <button class="btn-primary btn" type="button" data-action="modifyOrder">
                        <span>Изменить заказ</span>
                    </button>
                    <button class="btn-outline-danger btn" type="button" data-action="deleteOrder">
                        <span>Удалить заказ</span>
                    </button>
                </div>
            </div>
        </template>

        <template data-id="item">
            <div class="row-item" data-id="{{id}}">
                <div class="order-item-picture cell">
                    <img src="<%- _url('/api/base/file/thumbnail') %>?s=xs&c=picture&id={{picture}}"
                         class="img-fluid img-thumbnail" alt="">
                </div>
                <div class="order-item-name cell">
                    <label data-t="">Название</label>
                    <div class="value">
                        <b>{{name}}</b>
                    </div>
                </div>
                <div class="order-item-ingredients cell">
                    <label data-t="">Ингредиенты</label>
                    <div class="value">{{ingredients}}</div>
                </div>
                <div class="order-item-quantity cell">
                    <label data-t="">Количество</label>
                    <div class="value">{{quantity}}</div>
                </div>
                <div class="order-item-delete cell">
                    <button class="btn-outline-danger btn-sm btn" type="button" data-action="deleteItem">
                        <i class="far fa-trash-alt"></i>
                    </button>
                </div>
            </div>
        </template>

        <template data-id="ingredient">
            <div>{{name}}</div>
        </template>

        <template data-id="error">
            <div class="alert-danger alert">{{text}}</div>
        </template>

        <div class="loadable-content"></div>
        <div class="loader"><i class="fa fa-spinner fa-spin"></i></div>
    </div>
</div>